body {
  background-color: lightgray;
  margin: 0px;
  padding: 0px;
}
.container {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  background: #121212;
  color: white;
}
.container .wrap {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 900px;
  color: white;
}
.container .wrap .logo {
  width: 120px;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 100px;
}
.container .wrap .logo img {
  height: 60px;
  width: 171px;
  opacity: 10;
}
